@model ComputerStore.Models.Cart

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cart</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Category.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Subcategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Subcategory.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Availability)
        </dt>
        <dd class = "col-sm-10">
            @if (Model.Product.Availability)
            {
                <text>Available</text>
            }
            else
            {
                <text>Not Available</text>
            }
        </dd>
    </dl>
</div>
<br />
<div>
    <a asp-action="Index" class="btn btn-outline-primary">Return</a>
</div>
