@model IEnumerable<ComputerStore.Models.Product>
@using Microsoft.AspNetCore.Mvc.Rendering

@{
    ViewData["Title"] = "Index";
}

<h1>Product catalog</h1>

<form id="searchForm">
    <div class="form-group">
        <label for="productName">Search by Product Name:</label>
        <input type="text" class="form-control" style="width: 250px" id="productName" name="productName" />
    </div>
    <div class="form-group">
        <label for="category">Select Category:</label>
        <select class="form-control" style="width: 250px" id="category" name="category">
            <option value="" selected>All categories</option>
            @foreach (var category in ViewBag.Categories as List<SelectListItem>)
            {
                    <option value="@category.Value">@category.Text</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="subcategory">Select Subcategory:</label>
        <select class="form-control" style="width: 250px" id="subcategory" name="subcategory">
            <option value="" selected>All subcategories</option>
            @foreach (var subcategory in ViewBag.Subcategories as List<SelectListItem>)
            {
                    <option value="@subcategory.Value">@subcategory.Text</option>
            }
        </select>
    </div>
    <br />
    <button type="button" class="btn btn-outline-primary" onclick="searchCatalog()">Search</button>
</form>
<br />
<table class="table" id="productTable">
</table>

<script>
    $(document).ready(function () {
        loadCategoriesAndSubcategories();
        searchCatalog();
        $('#category').change(function () {
            var selectedCategoryId = $(this).val();

            $('#subcategory').empty();
            $('#subcategory').append($('<option>').text('All Subcategories').attr('value', ''));

            if (selectedCategoryId) {
                $.ajax({
                    url: '@Url.Action("GetSubcategoriesByCategory", "Products")',
                    type: 'GET',
                    data: { categoryId: selectedCategoryId },
                    success: function (data) {
                        $.each(data, function (i, item) {
                            $('#subcategory').append($('<option>').text(item.text).attr('value', item.value));
                        });
                    },
                    error: function () {
                        alert('Error occurred while loading subcategories.');
                    }
                });
            }
        });
        $('#category').trigger('change');
    });

    function loadCategoriesAndSubcategories() {
        $.ajax({
            url: '@Url.Action("GetCategoriesAndSubcategories", "Products")',
            type: 'GET',
            success: function (data) {
                $('#category').html(data.Categories);
                $('#subcategory').html(data.Subcategories);
            },
            error: function () {
                alert('Error occurred while loading categories and subcategories.');
            }
        });
    }

    function searchCatalog() {
        var productName = $('#productName').val();
        var category = $('#category').val();
        var subcategory = $('#subcategory').val();

        if (subcategory === "") {
            subcategory = null;
        }

        if (category === "") {
            category = null;
        }

        $.ajax({
            url: '@Url.Action("SearchCatalog", "Products")',
            type: 'GET',
            data: { productName: productName,
            category: category,
            subcategory: subcategory },
            success: function (data) {
                $('#productTable').html(data);
            },
            error: function () {
                alert('Error occurred while processing the request.');
            }
        });
    }
</script>