@model IEnumerable<ComputerStore.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>All products</h1>
<form id="searchForm">
    <div class="form-group">
        <label for="productName">Search by Product Name:</label>
        <input type="text" class="form-control" style="width: 250px" id="productName" name="productName" />
    </div>
    <div class="form-group">
        <label for="category">Select Category:</label>
        <select class="form-control" style="width: 250px" id="category" name="category">
            <option value="">All Categories</option>
            @foreach (var category in ViewBag.Categories as List<SelectListItem>)
            {
                        <option value="@category.Value">@category.Text</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="subcategory">Select Subcategory:</label>
        <select class="form-control" style="width: 250px" id="subcategory" name="subcategory">
            <option value="">All Subcategories</option>
            @foreach (var subcategory in ViewBag.Subcategories as List<SelectListItem>)
            {
                        <option value="@subcategory.Value">@subcategory.Text</option>
            }
        </select>
    </div>
    <br />
    <button type="button" class="btn btn-outline-primary" onclick="searchAll()">Search</button>
</form>                             
<br />
<div>
    <a asp-action="Create" class="btn btn-outline-success">Create New</a>
    <a asp-action="SalesTurnover" class="btn btn-outline-primary">Sales turnover</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Availability)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subcategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsOnSale)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="productTableBody">
 
    </tbody>
</table>

<script>
    $(document).ready(function () {
        loadCategoriesAndSubcategories();
        searchAll();
    });

     function loadCategoriesAndSubcategories() {
        $.ajax({
            url: '@Url.Action("GetCategoriesAndSubcategories", "Products")',
            type: 'GET',
            success: function (data) {
                $('#category').html(data.Categories);
                $('#subcategory').html(data.Subcategories);
            },
            error: function () {
                alert('Error occurred while loading categories and subcategories.');
            }
        });
    }

    function searchAll() {
        var productName = $('#productName').val();
        var category = $('#category').val();
        var subcategory = $('#subcategory').val();

        $.ajax({
            url: '@Url.Action("SearchAll", "Products")',
            type: 'GET',
            data: { productName: productName,
            category: category,
            subcategory: subcategory },
            success: function (data) {
                $('#productTableBody').html(data);
            },
            error: function () {
                alert('Error occurred while processing the request.');
            }
        });
    }
</script>