@model ComputerStore.Models.Product

@{
    ViewData["Title"] = "StopSales";
}

<h1>Stop sales of a product</h1>

<h3>Are you sure you want to stop sale this product?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Availability)
        </dt>
        <dd class = "col-sm-10">
            @if (Model.Availability)
            {
                <text>Available</text>
            }
            else
            {
                <text>Not Available</text>
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subcategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subcategory.Name)
        </dd>
    </dl>
    
    <form asp-action="StopSales">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="StopSales" class="btn btn-outline-danger" /> |
        <a asp-action="ProductsPanel">Back to List</a>
    </form>
</div>
